csharp/aconcagua.data.ecos/Connected Services/SdmxServiceReference/SDMX_WCF_Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Prognoz.SDMX.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Prognoz.SDMX.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Build" type="xs:int" />
      <xs:element minOccurs="0" name="Major" type="xs:int" />
      <xs:element minOccurs="0" name="Minor" type="xs:int" />
      <xs:element minOccurs="0" name="Revision" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceVersion" nillable="true" type="tns:ServiceVersion" />
</xs:schema>